* {
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue';
  padding: 10px;
  background: #A13C69;
  color: white;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #959F81;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #28292A;
  font-size: 30px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}
.middle {
  text-align: center;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  padding: 20px;
  margin-top: 20px;
}
.card_2 {
  padding: 20px;
  margin-top: 20px;
  background-color: #28292A;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*Responsive image*/
.responsive_img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
.responsive_img_2 {
  width: 100%;
  max-width: 300px;
  height: auto;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #28292A;
  margin-top: 20px;
  position: relative;
  margin-top: 0px;
}
.table {
  text-align: left;
  width: 50%;
  overflow-x: auto;
  font-size: 25px;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .responsive_img_2 {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .table {
    text-align: left;
    width: 100%;
    overflow-x: auto;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
  .responsive_img_2 {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  .table {
    text-align: left;
    width: 100%;
    overflow-x: auto;
  }
}
